<% locals?.folders?.forEach(folder => { %>
<article>
  <header>
    <img
      src="/images/folderIcon.png"
      alt="Folder Icon"
      style="max-width: 2rem; margin-right: 1rem"
    />
    <a href="/folder/<%= folder.id %>"> <%= folder.name %> </a>
  </header>
  <!-- TO DO -->
  <p>There are <%= folder._count.files %> files in this folder.</p>
  <footer>
    <div class="grid">
      <a href="/folder/<%= folder.id %>/rename" role="button" class="secondary"
        >Rename</a
      >
      <a href="/folder/<%= folder.id %>/delete" role="button" class="contrast"
        >Delete</a
      >
    </div>
  </footer>
</article>
<% }) %>
