<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File Uploader</title>
    <link rel="stylesheet" href="/stylesheets/pico.yellow.min.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <%- include('components/header') %>
        <h1><%= folder.name %></h1>

        <!-- Folder detail view -->
        <% if (locals.mode === 'get') { %> <%-
        include('components/upload-file-form') %> <% } %>

        <!-- Delete folder view -->
        <% if (locals.mode === 'delete') { %> <%-
        include('components/delete-folder-form') %> <% } %>

        <!-- Rename folder view -->
        <% if (locals.mode === 'rename') { %> <%-
        include('components/rename-folder-form') %> <% } %>
      </div>
      <footer></footer>
    </main>
  </body>
</html>
