<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File Uploader</title>
    <link rel="stylesheet" href="/stylesheets/pico.yellow.min.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <%- include('header') %>
        <!-- Render app here -->
        <% if (locals.currentUser) { %>
        <!-- TODO -->
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti
          repellendus ipsum aut perferendis accusamus eum officia est possimus
          veritatis, quo impedit culpa consequuntur quibusdam deleniti,
          similique repellat, tempore voluptatem numquam!
        </p>

        <form action="/folder" method="POST">
          <fieldset role="group">
            <input type="text" placeholder="Folder name" name="folder" />

            <input type="submit" value="+ Create Folder" />
          </fieldset>
        </form>

        <% locals.folders.forEach(folder => { %>
        <article>
          <a href="/folder/<%= folder.id %>">
            <%= folder.name %></article>
          </a>
        <% }) %> <% } else { %> <% if (locals.signUp) { %>
        <p>Create a new account</p>
        <!-- Render the Sign Up Form and pass the errors object if it exists -->
        <%- include('sign-up-form', locals.errors ? {errors} : null) %> <% }
        else { %>

        <p>Log in to your account</p>
        <%- include('log-in-form') %> <% } %> <% if (locals.errors) { %>
        <!-- Render errors -->
        <ul>
          <% errors.forEach((error) => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
        <% } %> <% } %>
      </div>
      <footer></footer>
    </main>
  </body>
</html>
